.banner {
  position: relative;
  height: 100vh;
  color: white;
  overflow: hidden;
}

.banner__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 158%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.banner__image {
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.banner__contents {
  position: relative;
  z-index: 2;
  padding: 17% 7%;;
  max-width: 700px;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 12px;
}

.banner__description {
  font-size: 1rem;
  line-height: 1.4;
  max-width: 500px;
}

.banner__buttons {
  margin-top: 20px;
}

.banner__button {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 1.4rem;
  border-radius: 4px;
  padding: 15px 40px;
  margin-right: 12px;
  background-color: rgba(51, 51, 51, 0.6);
}

.banner__button:hover {
  background-color: white;
  color: black;
}

.banner__button--secondary {
  background-color: rgba(109, 109, 110, 0.6);
}

.banner--fadeBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(20, 20, 20, 0.6),
    #141414
  );
}
