.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 68px;
  padding: 0 32px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 1000;

  background: transparent;

  transition: background-color 0.4s ease-in-out,
              box-shadow 0.4s ease-in-out;
}

/* Black background on scroll */
.nav_black {
  background-color: #141414;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}
.nav__menu {
  display: flex;
  list-style: none;
  gap: 18px;
  padding: 0;
  margin: 0;
}

.nav__menu li {
  color: #e5e5e5;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.2s;
}

.nav__menu li:hover {
  color: #ffffff;
}

.nav__menu .active {
  color: #ffffff;
  font-weight: 600;
}
.nav__left {
  display: flex;
  align-items: center;
}
/* Netflix logo */
.nav__logo {
  width: 12%;
  object-fit: contain;
  cursor: pointer;
  margin-right: 32px;
  cursor: pointer;
}

/* User avatar */
/* RIGHT SECTION */
.nav__right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.nav__icon {
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.nav__kids {
  color: white;
  font-size: 14px;
  cursor: pointer;
}
.nav__avatar {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  object-fit: cover;
  cursor: pointer;
}
.nav__icon {
  color: #ffffff;
  font-size: 25px;
  cursor: pointer;
}

.nav__icon.small {
  font-size: 16px;
}
